/* styles for navbar */
.navb {
    background-color: white;
    box-shadow: 0px 2px 4px 1px grey;
    padding: 2vh;
    z-index: 2;
}

.logo {
    width: 5vh;
    height: 5vh;
    cursor: pointer;
}

#row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width:300px) {
    #row {
        margin: 0%;
    }

    .searchBar {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
    }

    .navlinks {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width:300px) and (min-width:770px) {
    #row {
        margin: 0%;
    }
    .searchBar {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
    }
    .navlinks {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:770px) {
    #row {
        width: 100%;
        margin-right: 10vh;
    }
    .searchBar {
        width: 130%;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
    }
    .navlinks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

.profilePic {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* styles for footer */
.footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(194, 187, 187);
    margin-top: 5vh;
}